# AntdUI

# c# 文件
[*.cs]

#### .NET 编码约定 ####

# 组织 Using
file_header_template = COPYRIGHT (C) Tom. ALL RIGHTS RESERVED.\nTHE AntdUI PROJECT IS AN WINFORM LIBRARY LICENSED UNDER THE Apache-2.0 License.\nLICENSED UNDER THE Apache License, VERSION 2.0 (THE "License")\nYOU MAY NOT USE THIS FILE EXCEPT IN COMPLIANCE WITH THE License.\nYOU MAY OBTAIN A COPY OF THE LICENSE AT\n\n    http://www.apache.org/licenses/LICENSE-2.0\n\nUNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING, SOFTWARE\nDISTRIBUTED UNDER THE LICENSE IS DISTRIBUTED ON AN "AS IS" BASIS,\nWITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.\nSEE THE LICENSE FOR THE SPECIFIC LANGUAGE GOVERNING PERMISSIONS AND\nLIMITATIONS UNDER THE License.\nGITEE: https://gitee.com/antdui/AntdUI\nGITHUB: https://github.com/AntdUI/AntdUI\nCSDN: https://blog.csdn.net/v_132\nQQ: 17379620