# Build and Release Folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Oo]bj/
[Bb]in/
[Ll]og/
[Ll]ogs/

# Other files and folders
*.csproj.user
*.vcxproj.filters
*.vcxproj.user
*.pubxml.user
*.snk
build.log

# Executables
*.swf
*.air
*.ipa
*.apk

# Projects
/.vs
/.claude
/.vscode
/.idea
/.workbuddy
/packages